<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704106043-qpkvf82dqppknovv8mfs3f2vgn74ebfh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704106043-qpkvf82dqppknovv8mfs3f2vgn74ebfh</string>
	<key>API_KEY</key>
	<string>AIzaSyCbSejVrCX_XZXFMZn84ZKz0Ug-G4yCAC0</string>
	<key>GCM_SENDER_ID</key>
	<string>704106043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moodmate</string>
	<key>PROJECT_ID</key>
	<string>moodmate-35b4a</string>
	<key>STORAGE_BUCKET</key>
	<string>moodmate-35b4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704106043:ios:22ec66db0335a82702961e</string>
</dict>
</plist>